/*
 * Colors
 * =============================== */

// used for buttons
$red: #e50914;

//used for font
$white: #ffffff;

//used for background
$black: #000000;

//used for section lines, toggle box, footer font
$gray1: #222222;
$gray2: #303030;
$gray3: #b3b3b3;
$gray4: rgba(153, 153, 153, 0.7);

$blue: #0071eb;

$background-gradient-screen: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 13%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.75) 90%);
$background-gradient-tablet: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 4%, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.75) 90%);
